<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Usando a versão baixada: -->
  <script src="./vue.js"></script>

  <!--Usando a versão por CDN:
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>-->

  <title>Document</title>
  <style>
    .verde {
      background-color: green;
    }

    .branco {
      background-color: white;
    }

    .azul {
      background-color: blue;
    }

    .vermelha {
      background-color: red;
    }

    .borda {
      border: 1px solid;
    }

    .div-principal {
      width: 200px;
      height: 200px;
    }

    .div-comum {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  </style>
</head>

<body>

  <!-- O v-model deixa o template e o Vue sincronizados -->

  <div id="app">
    <span>Paciente: </span><input type="text" v-model="paciente">
    <br>
    <ul>
      <li v-for="p in lista">{{p.nome}}, {{p.idade}}</li>
    </ul>
  </div>
  <script>

    const vm = new Vue({
      
      //A propriedade watch possibilita reagir reagir a alterações de dados. Podemos recuperar tanto a versão mais antiga, quanto a mais atual desse dado. 

      el: '#app',
      data: {
        paciente: '',
        pacientes: [
          {nome: "Mateus França", idade: 21},
          {nome: "Osmar França", idade: 24},
          {nome: "Amanda França", idade: 16},
          {nome: "Osvaldo Ribeiro", idade: 40},
        ],
        lista: []
      },
      methods: {},
      watch: {
        //O método tem o mesmo nome do atributo(data) que ele vai observar.
        paciente(valorNovo) {
            console.log(valorNovo)
            this.lista = this.pacientes.filter(p => p.nome.match(valorNovo))
        } 
      }
    });
  </script>
</body>

</html>