<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Usando a versão baixada: -->
  <script src="./vue.js"></script>

  <!--Usando a versão por CDN:
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>-->

  <title>Document</title>
  <style>
    .verde {
      background-color: green;
    }
    .branco {
      background-color: white;
    }

    .azul {
      background-color: blue;
    }

    .vermelha {
      background-color: red;
    }

    .borda {
      border: 1px solid;
    }

    .div-principal {
      width: 200px;
      height: 200px;
    }

    .div-comum {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  </style>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="n in numero">
        {{n}}
      </li>
    </ul>
    <!-- O v-for permite usamos laçoes de repetição-->
    <!-- O v-for é muito util para trabalharmos com listas-->
    <ul>
      <li v-for="curso, chave in cursos">{{chave}} - {{curso}}</li>
    </ul>
    <hr>
    <table border="1">
      <thead>
          <tr>
            <th>ID: </th>
            <th>TITULO: </th>
            <th>DESCRIÇÃO: </th>
          </tr>
      </thead>
      <tbody>
        <tr v-for="(curso, chave) in cursos2"> <!--destructuring assignment: no lugar di "curso" colocar apenas os atributos que queremos usar desse objeto como: ({titulo, descricao}, chave) in cursos2-->
          <td>{{chave}}</td>
          <td>{{curso.titulo}}</td>
          <td>{{curso.descricao}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <ul>
      <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom: 10px;" :key="p.id"> <!-- A propriedade KEY faz o reposicionamento de todo o conteúdo html-->
        <div>
          {{p.publicacao}}
          <hr>
          <input type="text">
        </div>
      </li>
    </ul>
    <button @click="misturarArray()">Misturar publicações</button>
  </div>
  <script>

    const vm = new Vue({
      el: '#app',
      data: {
        numero: 5,
        cursos: [
          'Laravel',
          'BD',
          'Web Completo',
          'React'
        ],
        cursos2: {
          1000: {titulo: 'Laravel', descricao: 'Domine o PHP'},
          1001: {titulo: 'BD', descricao: 'Aprenda BD relacionais'},
        },
        publicacoes: [
          {
            id: 1,
            publicacao: 'Publicações 1',
          },
          {
            id: 2,
            publicacao: 'Publicações 2',
          },
          {
            id: 3,
            publicacao: 'Publicações 3',
          },
        ]
      },
      methods: {
        misturarArray(){
          let misturado = []
          misturado[0] = this.publicacoes[2]
          misturado[1] = this.publicacoes[0]
          misturado[2] = this.publicacoes[1]

          this.publicacoes = misturado
        }
      }
    });
  </script>
</body>

</html>